# MongoDB
MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=hh_etl

# HH API
HH_BASE_URL=https://api.hh.ru
HH_HOST=hh.kz
PER_PAGE=50
REQUEST_TIMEOUT=30

# Logging (NOTSET, DEBUG, INFO, WARNING, ERROR, CRITICAL)
# (for more info check python logger library)
LOG_LEVEL=INFO

# Required by HH API
USER_AGENT=

# For more information check HeadHunter API docs -> "Vacancies Search"
