# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=hh_etl

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_QUEUE_NAME=hh:vacancies
WORKER_COUNT=5

# XHR URL
HH_BASE_URL=https://almaty.hh.kz
HH_SEARCH_PATH=/search/vacancy
REQUEST_TIMEOUT=30

# Logging
LOG_LEVEL=INFO

# User-agent
USER_AGENT=
